In [4]:
!pip install numpy pandas matplotlib seaborn scikit-learn statsmodels openpyxl

Requirement already satisfied: numpy in ./env/lib/python3.11/site-packages (2.1.2)
Requirement already satisfied: pandas in ./env/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: matplotlib in ./env/lib/python3.11/site-packages (3.9.2)
Requirement already satisfied: seaborn in ./env/lib/python3.11/site-packages (0.13.2)
Requirement already satisfied: scikit-learn in ./env/lib/python3.11/site-packages (1.5.2)
Requirement already satisfied: statsmodels in ./env/lib/python3.11/site-packages (0.14.4)
Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./env/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./env/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./env/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in ./env/lib/python3.11/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in ./env/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./env/lib/python3.11/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./env/lib/python3.11/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in ./env/lib/python3.11/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in ./env/lib/python3.11/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./env/lib/python3.11/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: scipy>=1.6.0 in ./env/lib/python3.11/site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in ./env/lib/python3.11/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./env/lib/python3.11/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in ./env/lib/python3.11/site-packages (from statsmodels) (0.5.6)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Requirement already satisfied: six in ./env/lib/python3.11/site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 23.1.2 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import statsmodels
import openpyxl

### Data Orientation

In [10]:
# split excel into multiple sheets
excel_file = 'data/raw/data.xlsx'
dir_name = 'data/raw'
xls = pd.ExcelFile(excel_file)

# load each sheet into a dataframe
for sheet_name in xls.sheet_names:
    df = pd.read_excel(xls, sheet_name=sheet_name)
    csv_file = f"{dir_name}/{sheet_name}.csv"
    df.to_csv(csv_file, index=False)
    print(f"Saved sheet: {sheet_name}")

Saved sheet: historical data
Saved sheet: data_to_predict

In [11]:
# let's take a look at the data
historical_df = pd.read_csv('data/raw/historical_data.csv')
historical_df.head()

,impressions,clicks,eDate,channel,country,os,networkType,deviceType,publisherCategory,advertiserCategory,product,subProduct,campaign,advPackage,advMaturity,AverageWinPrice (CPM),rate
0,9,0,2017-12-09,inr,AU,android,3g,mobile,game_arcade,entertainment,600775.0,NaN,301059092,NaN,low maturity,1.404217,0.140000
1,6,0,2017-12-09,inr,ES,android,3g,mobile,game_casual,game_educational,640029.0,com.mohitdev.minebuild,300208158,NaN,low maturity,0.575850,0.030000
2,57,0,2017-12-09,inr,FR,android,3g,mobile,game_word,game_action,618417.0,com.etermax.apalabrados.lite,300038580,NaN,low maturity,0.052181,0.017333
3,22,2,2017-12-09,inr,IT,android,3g,mobile,game_adventure,entertainment,631206.0,com.secg.robocraft,301068023,NaN,low maturity,0.265992,0.021000
4,3,0,2017-12-09,inr,IT,android,3g,mobile,game_arcade,entertainment,632417.0,com.craftpixelstudio.cubelands,300222537,NaN,low maturity,0.676667,0.035000

In [23]:
# let's take a statistical summary of the data
historical_df.describe(include='all')

,impressions,clicks,eDate,channel,country,os,networkType,deviceType,publisherCategory,advertiserCategory,product,subProduct,campaign,advPackage,advMaturity,AverageWinPrice (CPM),rate
count,304629.000000,304629.000000,304629,304629,304618,304629,304629,304629,253895,299908,2.400300e+05,251823,302951,76388,304628,304629.000000,304629.000000
unique,NaN,NaN,8,5,53,2,4,2,47,38,NaN,875,370,65,12,NaN,NaN
top,NaN,NaN,2017-12-11,mpb,ZA,android,3g,mobile,game_puzzle,entertainment,NaN,1075264954,300798390,com.p74.player,low maturity,NaN,NaN
freq,NaN,NaN,40739,172588,48404,281007,204345,295987,31406,139492,NaN,2779,7335,10025,187226,NaN,NaN
mean,88.306632,0.761815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.370810e+08,NaN,NaN,NaN,NaN,0.207046,0.027231
std,1193.871334,12.364807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.842803e+08,NaN,NaN,NaN,NaN,0.332051,0.027564
min,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.627600e+04,NaN,NaN,NaN,NaN,0.007190,0.003000
25%,2.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.872324e+06,NaN,NaN,NaN,NaN,0.050000,0.011000
50%,5.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.058059e+08,NaN,NaN,NaN,NaN,0.105240,0.020000
75%,21.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.219066e+09,NaN,NaN,NaN,NaN,0.207143,0.030000
max,159617.000000,1495.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.144018e+09,NaN,NaN,NaN,NaN,12.641820,0.190000

In [12]:
data_to_predict_df = pd.read_csv('data/raw/data_to_predict.csv')
data_to_predict_df.head()

,sessionId,eDate,channel,country,os,networkType,deviceType,publisherCategory,advertiserCategory,product,subProduct,campaign,advPackage,advMaturity,rate
0,9705699729732200,2017-12-17,smt,BR,ios,unknown,mobile,NaN,education,130000706,319881193,301604736,com.kawecki.onemind,4+,0.010
1,12802690671750800,2017-12-17,smt,KH,android,3g,mobile,music & audio,entertainment,130167110,com.fundevs.app.mediaconverter,300988528,NaN,low maturity,0.008
2,21347409150256300,2017-12-17,smt,ID,ios,not_wifi,mobile,NaN,travel,130285027,com.alcaydevs.idlfree,300228923,com.go-jek.ios,4+,0.020
3,23329125091887800,2017-12-17,inr,RU,android,3g,mobile,social,music & audio,625569,drug.vokrug,301060338,com.p74.player,parental guidance,0.022
4,28266843791174100,2017-12-17,smt,DE,android,wifi,mobile,photography,NaN,130356465,com.photo.editor.cartoon,301011313,NaN,everyone,0.025

In [14]:
# dataframe dimensions
print(f"This dataframe has {historical_df.shape[0]} rows and {historical_df.shape[1]} columns.")
historical_df.info()

This dataframe has 304629 rows and 17 columns.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304629 entries, 0 to 304628
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   impressions            304629 non-null  int64
 1   clicks                 304629 non-null  int64
 2   eDate                  304629 non-null  object
 3   channel                304629 non-null  object
 4   country                304618 non-null  object
 5   os                     304629 non-null  object
 6   networkType            304629 non-null  object
 7   deviceType             304629 non-null  object
 8   publisherCategory      253895 non-null  object
 9   advertiserCategory     299908 non-null  object
 10  product                240030 non-null  float64
 11  subProduct             251823 non-null  object
 12  campaign               302951 non-null  object
 13  advPackage             76388 non-null   object
 14  advMaturity            304628 non-null  object
 15  AverageWinPrice (CPM)  304629 non-null  float64
 16  rate                   304629 non-null  float64
dtypes: float64(3), int64(2), object(12)
memory usage: 39.5+ MB

In [26]:
# let's look at the distribution of our categorical variables
for column in historical_df.columns:
    if historical_df[column].dtype == 'object':
        print(f"Distribution of {column}:")
        print(historical_df[column].value_counts())
        print("\n")

Distribution of eDate:
eDate
2017-12-11    40739
2017-12-13    39743
2017-12-16    39000
2017-12-12    38743
2017-12-14    38546
2017-12-09    37791
2017-12-10    36090
2017-12-15    33977
Name: count, dtype: int64


Distribution of channel:
channel
mpb    172588
inr     72340
smt     49929
nxg      9495
rub       277
Name: count, dtype: int64


Distribution of country:
country
ZA    48404
JP    46055
ES    27456
RU    26017
PL    17768
FR    11087
IT     9515
BR     9087
MM     8869
AE     8582
US     5925
AU     5829
KR     5520
PA     4926
EG     4125
TN     4115
ID     3853
PT     3754
OM     3407
CL     3230
BH     2932
DE     2930
DZ     2799
GB     2793
MA     2558
NG     2534
HK     2471
KH     2435
VN     2382
KW     2341
TR     2064
NO     1942
MX     1675
RS     1665
NL     1586
IN     1536
SN     1271
DO     1245
SG     1121
PY      962
TH      916
HN      842
CA      738
MY      590
PH      577
AT      551
PK      512
HU      415
QA      247
TW      205
CR      130
SA      116
CI       13
Name: count, dtype: int64


Distribution of os:
os
android    281007
ios         23622
Name: count, dtype: int64


Distribution of networkType:
networkType
3g          204345
wifi         56356
not_wifi     32926
unknown      11002
Name: count, dtype: int64


Distribution of deviceType:
deviceType
mobile    295987
tablet      8642
Name: count, dtype: int64


Distribution of publisherCategory:
publisherCategory
game_puzzle                31406
game_casual                22876
entertainment              16693
game_action                15188
social                     13281
tools                      12513
game_simulation            11629
game_arcade                 9939
photography                 9722
game_board                  9520
game_role_playing           8151
game_adventure              8078
music & audio               7671
game_word                   7232
game_sports                 5930
productivity                5044
books & reference           4845
game_educational            4572
video players & editors     4478
game_trivia                 4465
sports                      4192
dating                      4009
game_racing                 3791
game_card                   3553
news & magazines            3207
game_music                  2926
health & fitness            2857
weather                     2343
communication               2107
personalization             1856
lifestyle                   1855
shopping                    1422
education                   1192
travel & local               941
medical                      843
business                     763
comics                       653
maps & navigation            539
games                        370
finance                      361
game_casino                  269
auto & vehicles              173
music                        127
libraries & demo             125
house & home                  73
book                          60
social networking             55
Name: count, dtype: int64


Distribution of advertiserCategory:
advertiserCategory
entertainment              139492
game_arcade                 23336
game_casual                 17917
shopping                    16003
game_action                 14345
games                       12592
music & audio               11947
travel & local              10167
game_role_playing            8241
game_music                   5185
game_educational             4476
books & reference            4296
personalization              3683
game_adventure               3567
news & magazines             3456
lifestyle                    2507
food & drink                 2358
game_simulation              1886
social networking            1701
travel                       1590
finance                      1521
social                       1506
education                    1461
photo & video                1413
dating                        704
tools                         671
game_board                    652
video players & editors       652
utilities                     538
family_brain_games            530
auto & vehicles               442
game_puzzle                   382
sports                        211
books                         194
media & video                 142
photography                    79
events                         33
game_strategy                  32
Name: count, dtype: int64


Distribution of subProduct:
subProduct
1075264954                         2779
com.surpax.ledflashlight.panel     2191
com.outfit7.mytalkingangelafree    2140
com.outfit7.mytalkingtomfree       1960
devian.tubemate.home               1932
                                   ...
tk.mediacreator.khmersupermusic       7
com.animatures.cartoonyourself        7
com.wBitcoinfree_5424463              6
616583799                             5
com.afksoft.WordShakerLite            3
Name: count, Length: 875, dtype: int64


Distribution of campaign:
campaign
300798390    7335
301569414    6088
300659871    4838
301044597    4562
301104885    4296
             ...
301103437       8
301011772       7
301227420       6
300997859       4
300063871       3
Name: count, Length: 370, dtype: int64


Distribution of advPackage:
advPackage
com.p74.player                        10025
com.stairs.destinychild                5673
jp.co.bandainamcoent.BNEI0242          5069
jp.co.yahoo.android.yshopping          4838
jp.co.bandainamcoonline.grasma         4436
                                      ...
jp.co.a-tm.derbyimpact                   87
com.ss.iphone.ugc.Ame                    61
jp.colopl.tennis                         52
com.hulu.plus                            23
com.ladbrokes.sportsbook.iphone.uk       18
Name: count, Length: 65, dtype: int64


Distribution of advMaturity:
advMaturity
low maturity         187226
everyone              33154
pegi 3                24929
parental guidance     15207
pegi 12               14081
4+                     7799
12+                    7747
9+                     5232
adults only            3335
17+                    2844
high maturity          1813
pegi 7                 1261
Name: count, dtype: int64

### Preprocessing & EDA 

Removing outliers, missing values, etc.

Encoding of categorical variables to numbers

Declaring our target features.

In [34]:
# missing values summary
def missing_values_summary(df): 
    return pd.DataFrame(
        zip(
            df.columns,
            df.isna().any(),
            (df.isna().sum() / df.shape[0] * 100).round(2),
            df.dtypes,
            df.apply(lambda x: x.sample(n=1).iloc[0] if len(x) > 0 else None)),
        columns=['Column', 'Has Missing Values', '% Missing Values', 'Feature Type', 'Sample Value']
    )

missing_values_summary(historical_df)

,Column,Has Missing Values,% Missing Values,Feature Type,Sample Value
0,impressions,False,0.00,int64,144
1,clicks,False,0.00,int64,0
2,eDate,False,0.00,object,2017-12-11
3,channel,False,0.00,object,mpb
4,country,True,0.00,object,ES
5,os,False,0.00,object,ios
6,networkType,False,0.00,object,wifi
7,deviceType,False,0.00,object,mobile
8,publisherCategory,True,16.65,object,entertainment
9,advertiserCategory,True,1.55,object,entertainment
10,product,True,21.21,float64,1513999117.0
11,subProduct,True,17.33,object,com.tabtale.candyblash
12,campaign,True,0.55,object,300224898
13,advPackage,True,74.92,object,jp.co.atm.vcon.jp
14,advMaturity,True,0.00,object,low maturity
15,AverageWinPrice (CPM),False,0.00,float64,0.08924
16,rate,False,0.00,float64,0.015

In [39]:
# Let's drop the columns with more than 50% missing values
# remember that we process this on a COPY of our original dataframe
historical_eda_df = historical_df.drop(columns=['advPackage'])

# now let's convert the objects or floats to the correct type which is string
historical_eda_df['product'] = historical_eda_df['product'].round(0).astype(str)
historical_eda_df['campaign'] = historical_eda_df['campaign'].astype(str)

# Let's let's replace the missing values for the rest of the values less than 50% missing values with placeholder values
# this will be categorical variables so we will want to exclude these from our first couple of iterations since it's as to the product
historical_categorical_cols_imputed = ['publisherCategory', 'advertiserCategory', 'subProduct', 'campaign', 'product']
for col in historical_categorical_cols_imputed:
    historical_eda_df[col] = historical_eda_df[col].fillna('missing')


missing_values_summary(historical_eda_df)

,Column,Has Missing Values,% Missing Values,Feature Type,Sample Value
0,impressions,False,0.0,int64,517
1,clicks,False,0.0,int64,0
2,eDate,False,0.0,datetime64[ns],2017-12-10 00:00:00
3,channel,False,0.0,object,inr
4,country,True,0.0,object,PY
5,os,False,0.0,object,android
6,networkType,False,0.0,object,wifi
7,deviceType,False,0.0,object,mobile
8,publisherCategory,False,0.0,object,missing
9,advertiserCategory,False,0.0,object,entertainment
10,product,False,0.0,object,nan
11,subProduct,False,0.0,object,com.fundevs.app.mediaconverter
12,campaign,False,0.0,object,300113969
13,advMaturity,True,0.0,object,pegi 12
14,AverageWinPrice (CPM),False,0.0,float64,0.04
15,rate,False,0.0,float64,0.015

In [ ]:
# we will drop the columns with more than 50% missing values
# we will

### Split data into training and testing sets

### Modeling


### Evaluation